services:
  postgres-db:
    image: postgres:15
    container_name: task_db_container
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}

    ports:
      - "5432:5432"
      # host port : container port
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: task_app
    depends_on:
      - postgres-db
    environment:
      DB_HOST: postgres-db
      DB_PORT: "5432"
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_URL: jdbc:postgresql://postgres-db:5432/${DB_NAME}
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  postgres_data:
